body  {
  margin: 0px;
  padding: 0px;
  width: 100%;
  min-width: 1100px;
  background-color: #ededed;

  font-family: 'Comfortaa', sans-serif;

  box-sizing: border-box;
}

.main_container  {
  width: 1100px;
  margin: 0px auto 0px auto;
  /* padding-top: 20px; */
  background-color: white;
}

.main_header  {
  border-top: 1px solid white;
  width: 100%;
  min-height: 50px;
}

/* === Стили навигации === */

.main_nav {
  height: 40px;
  width: 308px;
  min-width: 500px;
  max-width: 1000px;
  margin: 20px auto 0px auto;
  text-align: center;
}

.main_nav_item  {
  display: inline-block;
  width: 75px;
  text-align: center;
  padding: 4px 5px 4px 5px;
  margin: 0px 10px 0px 10px;
}

.main_nav a:hover  {
  text-decoration: none;
  border-bottom: 2px solid #ff6e6e;
}

/* .main_nav a:active {
  text-decoration: none;
  border-bottom: 2px solid #ff6e6e;
} */


h1,
h2,
h3,
p {
  margin: 6px;
}

h1 {
  font-size: 20px;
}

h2  {
  font-size: 18px;
}

p {
  font-size: 15px;
  line-height: 1.3;
}

/* === Стили ссылок === */

a {
  font-size: 15px;
  color: #ff6e6e;
}

a:link {
  text-decoration: none; /* Убирает подчеркивание для ссылок */
}

a:visited {
  text-decoration: none;
}

a:active {
  text-decoration: none;
}

a:hover {
  text-decoration: underline; /* Делает ссылку подчеркнутой при наведении на нее курсора */
  color: #ff6e6e;
}

.btn  {
  display: inline-block;
  padding: 6px 12px 6px 12px;
  border: 1px solid #ff6e6e;
  border-radius: 3px;
  background-color: white;
  min-width: 80px;
  box-shadow: 0 0 3px rgba(0,0,0,0.2);
  font-size: 13px;
  color: black;
  text-align: center;
}

.btn:hover  {
  text-decoration: none;
  color: inherit;
  box-shadow: 0 0 3px #ff6e6e;
}

.main_footer  {
  background-color: white;
  width: inherit;
}
