body  {
  margin: 0px;
  padding: 0px;
  width: 100%;
  min-width: 600px;
  background-color: white;

  font-family: 'Comfortaa', sans-serif;

  box-sizing: border-box;
}

/* .otl  {
  outline: 1px solid red;
} */

h1,
h2,
h3,
p {
  margin: 5px;
}

a:link {
    text-decoration: none; /* Убирает подчеркивание для ссылок */
    color: inherit;
   }

a:visited {
  text-decoration: none;
  color: inherit;
}

a:active {
  text-decoration: none;

}

a:hover {
    text-decoration: underline; /* Делает ссылку подчеркнутой при наведении на нее курсора */
    color: #ff6e6e;
  }

.main_page  {
  width: 100%;
  min-height: 600px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card {
  width: 450px;
  min-height: 220px;

  padding: 20px;

  background: #fff;
  border-bottom: 2px solid #ff6e6e;
  box-shadow: 0 0 3px rgba(0,0,0,0.2);

  text-align: right;

  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-end;
  align-items: center;
  align-content: space-between;
}

/* .card:hover {
  transition: 0.05s;
  box-shadow: 0 0 20px rgba(0,0,0,0.2);
} */

.card_item  {

}

.card_item:first-child  {
  width: 100%;
}

.card_item:last-child {
  width: 100%;
}

.card_header  {

}

.card_pic  {
  display: block;
  border: 1px solid #ff6e6e;
  border-radius: 50%;
  overflow: hidden;

  flex-grow: 1;
  max-height: 110px;
  max-width: 110px;
}

.card_data {
  flex-grow: 2;
}




.card_footer  {

}
