body {
    font-family: sans-serif;
}

.wrapper {
    /* max-width: calc(100% - 6em);
    margin: 0 auto;
    border: 1px dotted blue; */
    /* padding: 1em; */
}

.main-title {
    text-align: center;
}

.main-grid {
    padding: 2rem;
    min-height: 100vh;
    display: grid;
    grid-template-columns: 2em 2fr 2em 1fr 2em;
    grid-template-rows: min-content repeat(3, auto);
    
}

.main-grid > section {
    background-color: #ffcf66;
    border-radius: 6px;
    padding: 2em;
}

.form-section {
   grid-column: 4 / 5;
   grid-row: 2 / 3;
}

.data-section {
    grid-column: 2 / 3;
    grid-row: 2 / 6;
}

h1 {
    grid-column: 1 / -1;
    grid-row: 1 / 2;
    padding: 0em 0em 2rem 0em;
}

h2 {
    margin: 0em 0em 1em 0em;
}

/* Таблица */

#data-table {
    border-collapse: collapse;
    /* border: 1 solid black; */
    font-size: 0.9em;
    min-width: 400px;
    width: 100%;
}

#data-table th, #data-table td {
    padding: 0.5em 1em;
}

#data-table thead tr {
    background-color: #66c4ff;
    color: #f0f0f0;
    text-align: left;
}

#data-table tbody tr {
    border-bottom: 1px solid #66c4ff;
}

#data-table tbody tr:last-child {
    border-bottom: none;
}

#data-table tbody td {
    border-right: 1px solid #66c4ff;
}

#data-table tbody td:last-child {
    border-right: none;
}

#data-table th:not(:first-child), #data-table td:not(:first-child) {
    width: 16%;
}