@font-face {
	font-family: Toyota Regular;
	src: url(/helper/fonts/ToyotaType-Regular.eot);
    src: url(/helper/fonts/ToyotaType-Regular.woff2) format("woff2"), 
    url(/helper/fonts/ToyotaType-Regular.woff) format("woff"), 
    url(/helper/fonts/ToyotaType-Regular.ttf) format("truetype"), 
    url(/helper/fonts/ToyotaType-Regular.svg) format("svg")
}

@font-face {
	font-family: Toyota Base;
	src: url(/helper/fonts/ToyotaType-Book.eot);
    src: url(/helper/fonts/ToyotaType-Book.woff2) format("woff2"), 
    url(/helper/fonts/ToyotaType-Book.woff) format("woff"), 
    url(/helper/fonts/ToyotaType-Book.ttf) format("truetype"), 
    url(/helper/fonts/ToyotaType-Book.svg) format("svg")
}

@font-face {
	font-family: Toyota Semibold;
	src: url(/helper/fonts/ToyotaType-Semibold.eot);
    src: url(/helper/fonts/ToyotaType-Semibold.woff2) format("woff2"), 
    url(/helper/fonts/ToyotaType-Semibold.woff) format("woff"), 
    url(/helper/fonts/ToyotaType-Semibold.ttf) format("truetype"), 
    url(/helper/fonts/ToyotaType-Semibold.svg) format("svg")
}

@font-face {
	font-family: Toyota Bold;
	src: url(/helper/fonts/ToyotaType-Bold.eot);
    src: url(/helper/fonts/ToyotaType-Bold.woff2) format("woff2"), 
    url(/helper/fonts/ToyotaType-Bold.woff) format("woff"), 
    url(/helper/fonts/ToyotaType-Bold.ttf) format("truetype"), 
    url(/helper/fonts/ToyotaType-Bold.svg) format("svg")
}

:root {
    font-family: 'Toyota Regular', Arial, Helvetica, sans-serif;
    --tme-white: #FFFFFF;
    --tme-grey: #282830;
    --tme-red: #FF0022;

    --tme-grey-6: #EFF0F0;
    --tme-grey-5: #CECFD0;
    --tme-grey-4: #ADADB0;
    --tme-grey-3: #8B8C90;
    --tme-grey-2: #6A6B70;
    --tme-grey-1: #494950;
}

body {
    background-color: var(--tme-grey);
    font-size: 16px;
}

/* Chrome */
input[type=number]::-webkit-inner-spin-button {
    appearance: none;
    -webkit-appearance: none;
}

/* Mozilla */
input[type=number] { 
    -moz-appearance: textfield;
    appearance: textfield;
    margin: 0; 
}

.btn {
    font-family: 'Toyota Base', Arial, Helvetica, sans-serif;
    padding: .6rem 2.4rem .6rem 2.4rem;
    border: none;
    font: inherit;
    color: inherit;
    background-color: transparent;
    cursor: pointer;
    min-width: 160px;
    font-size: 0.9rem;
}

.btn-dark {
    background-color: var(--tme-grey);
    color: var(--tme-white);
    -webkit-box-shadow: none;
    box-shadow: none;
    transition: 0.3s;
}

.btn-dark:hover {
    background-color: var(--tme-grey-1);
}

.btn-white {
    background-color: var(--tme-white);
    color: var(--tme-grey);
    -webkit-box-shadow: none;
    box-shadow: none;
    transition: 0.3s;
}

.btn-white:hover {
    background-color: var(--tme-grey-5);
}

.form-section .lh-h2-title, .data-section .lh-h2-title {
    font-size: 1.8rem;
    position: relative;
    padding: 1.6rem;
    margin: 3rem 1rem;
    text-align: center;
}

.lh-h2-title::after {
    content: "";
    width: 4rem;
    height: 3px;
    background: var(--tme-red);
    position: absolute;
    bottom: 0;
    left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
}

.acc-el {
    color: var(--tme-red);
}

.main-title {
    text-align: center;
}

.main-grid {
    min-height: 100vh;
    display: flex;
    flex-direction: row-reverse;
}

.lh-section {
    /* padding: 2em; */
    width: 50%;
}

.lh-section__light {
    background-color: var(--tme-white);
    color: var(--tme-grey);
}
.lh-section__dark {
    background-color: var(--tme-grey);
    color: var(--tme-white);
}



/* Секция с форма */

.form-section {
    width: 40%;
}

.form-section .inner-section {
    width: 50%;
    margin: 0 auto;
}
.addmodel-form input, .addmodel-form label {
    font-family: 'Toyota Base', Arial, Helvetica, sans-serif;
    display: block;
    margin-bottom: 0.6rem;
}

.addmodel-form input {
    background-color: var(--tme-grey-6);
    color: var(--tme-grey);
    padding: .4rem 1rem;
    width: 100%;
    border: none;
    border-radius: 3px;
    transition: 0.3s;
}

.addmodel-form input:hover {
    background-color: var(--tme-grey-5);
}

.addmodel-form input:focus {
    background-color: var(--tme-grey-4);
}

.addmodel-form label {
    font-size: 0.9rem;
    width: 30%;
}

.addmodel-form .input-block {
    margin-bottom: 1.2rem;
}

.btn-collection {
    margin-top: 1.8rem;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

/* form footer */

.form-section footer {
    margin-top: 1.8rem;
}

.credits-list {
    display: flex;
    justify-content: space-around;
    align-items: center;
    
}
.credits-list li {
    display: block;
    font-family: 'Toyota Base', Arial, Helvetica, sans-serif;
    font-size: 0.9rem;
}

.credits-list a {
    display: block;
    padding: .25rem .5rem;
    text-decoration: none;
    color: inherit;
}

.credits-list a span {
    transition: 0.3s;
}

.credits-list a:hover span {
    color: var(--tme-red);
}


/* Секция с таблицей */
.data-section {
    width: 60%;
}

.data-section .inner-section {
    width: 80%;
    margin: 0 auto;
}

 #data-table {
    border-collapse: collapse;
    font-size: 0.9rem;
}

#data-table th, #data-table td {
    padding: 0.5em 1em;
}

#data-table thead tr {
    background-color: var(--tme-grey-5);
    color: var(--tme-color-grey);
    text-align: left;
}

#data-table thead th {
    border-bottom: 1px solid var(--tme-grey-5);
}

#data-table tbody tr {
    border-bottom: 1px solid var(--tme-grey-5);
    transition: 0.3s;
}

#data-table tbody tr:hover {
    font-weight: 800;
}

#data-table tbody tr:last-child {
    border-bottom: none;
}

#data-table tbody td {
    border-right: 1px solid var(--tme-grey-5);
}

#data-table tbody tr:nth-child(2n) {
    background-color: var(--tme-grey-6);
}

#data-table tbody td:last-child {
    border-right: none;
}