/*==========  Desktop First  ==========*/

/* Large Devices, Wide Screens */
@media only screen and (max-width: 1200px) {
    .lh-section {
        padding: 2rem 2rem;
    }
    .form-section {
        width: 35%;
    }
    .form-section > * {
        margin: 0rem 2rem;
    }
}

/* Medium Devices, Desktops */
@media only screen and (max-width: 992px) {
    .main-grid {
        flex-direction: column;
    }
    .form-section {
        width: 100%;
    }
    .data-section {
        width: 100%;
    }
    .lh-h2-title {
        padding: 0rem 0rem 1rem 0rem;
        margin: 0rem 0rem 1rem 0rem;
        text-align: left;
    }
    .lh-h2-title::after {
        left: 33px;
    }
}

/* Small Devices, Tablets */

/* 
Adaptive table:
https://codepen.io/AllThingsSmitty/pen/MyqmdM?editors=1100
*/

@media only screen and (max-width: 768px) {
    .data-table {
        border: 0;
        width: 100%;
    }
    .data-table thead {
        border: none;
        clip: rect(0 0 0 0);
        height: 1px;
        margin: -1px;
        overflow: hidden;
        padding: 0;
        position: absolute;
        width: 1px;
    }
    .data-table tr {
        display: block;
        margin-bottom: 2em;
    }
    .data-table tbody td {
          border-bottom: 1px solid var(--tme-grey-5);
          border-right: none;
    }
    .data-table td {
        display: block;
        font-size: 1.1em;
        font-weight: bold;
        text-align: right;
    }
    .data-table td:first-child {
        background-color: var(--tme-grey-5);
    }
    .data-table tbody tr:nth-child(2n) {
        background-color: var(--tme-white);
    }
    .data-table td::before {
        content: attr(data-label);
        float: left;
        font-weight: bold;
        font-size: 0.9em;
    }
    .data-table td:last-child {
        border-bottom: 0;
    }
    .data-table tbody tr:hover {
        font-weight: normal;
    }
    .data-table tbody:hover tr:not(:hover) {
        color: inherit;
    }
}

/* Extra Small Devices, Phones */
@media only screen and (max-width: 480px) {

}

/* Custom, iPhone Retina */
@media only screen and (max-width: 320px) {

}
